<div class="cities-modal">
  <div class="modal-header">
    <h2>Principales Ciudades de Chile</h2>
    <button mat-icon-button class="close-button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="cities-grid">
    <div class="city-card" *ngFor="let city of cities" (click)="selectCity(city.name)">
      <div class="city-icon">
        <mat-icon>{{city.icon}}</mat-icon>
      </div>
      <div class="city-info">
        <h3>{{city.name}}</h3>
        <p>{{city.description}}</p>
      </div>
    </div>
  </div>
</div>
