<div class="bento-grid-container">
  <div class="bento-grid">
    <!-- Saludo al usuario -->
    <div class="greeting full-width">
      <app-user-greeting></app-user-greeting>
    </div>
    
    <!-- Primera fila: Índice UV, Calendario Lunar, Presión Atmosférica -->
    <div class="bento-item uv-info">
      <app-uv-indicator
        [currentDate]="currentDate"
        [uvIndex]="uvIndex"
      ></app-uv-indicator>
    </div>
    <div class="bento-item moon-info">
      <app-moon-phase
        [currentDate]="currentDate"
      ></app-moon-phase>
    </div>
    <div class="bento-item pressure-info">
      <app-pressure-info
        [currentDate]="currentDate"
        [pressure]="atmosphericPressure"
        [trend]="pressureTrend"
      ></app-pressure-info>
    </div>
    
    <!-- Segunda fila: Pronóstico semanal a todo ancho -->
    <div class="bento-item forecast full-width">
      <app-forecast></app-forecast>
    </div>
    
    <!-- Tercera fila: Clima actual e información del viento -->
    <div class="bento-item main-weather">
      <app-weather-card
        [currentDate]="currentDate"
        [temperature]="temperature"
        [weatherCondition]="weatherCondition"
        [humidity]="humidity"
        [windSpeed]="windSpeed"
      ></app-weather-card>
    </div>
    <div class="bento-item wind-info">
      <app-wind-info
        [currentDate]="currentDate"
        [windSpeed]="windSpeed"
        [windDirection]="windDirection"
        [windGust]="windGust"
        [windPressure]="windPressure"
        [beaufortScale]="beaufortScale"
      >
      </app-wind-info>
    </div>
  </div>
</div>
