<div class="bento-footer">
  <div class="footer-content">
    <div class="copyright">
      <mat-icon>copyright</mat-icon>
      <span>{{currentYear}} Weather App</span>
    </div>
    <div class="footer-links">
      <a href="#" class="bento-link">
        <mat-icon>info</mat-icon>
        <span>Acerca de</span>
      </a>
      <a href="#" class="bento-link">
        <mat-icon>policy</mat-icon>
        <span>Privacidad</span>
      </a>
      <a href="#" class="bento-link">
        <mat-icon>contact_support</mat-icon>
        <span>Contacto</span>
      </a>
    </div>
  </div>
</div>
