<div class="sunrise-sunset-card full-size" [ngClass]="{'night-mode': isNight}">
  <h3>Ciclo Solar</h3>
  
  <!-- Skeleton loading -->
  <div class="sun-info-container skeleton-container" *ngIf="loading">
    <div class="sun-cycle">
      <div class="sun-icon-skeleton skeleton-item"></div>
      <div class="sun-time-skeleton">
        <div class="time-skeleton skeleton-item"></div>
        <div class="label-skeleton skeleton-item"></div>
      </div>
    </div>

    <div class="day-duration-skeleton">
      <div class="duration-value-skeleton skeleton-item"></div>
      <div class="duration-label-skeleton skeleton-item"></div>
    </div>

    <div class="sun-cycle">
      <div class="sun-icon-skeleton skeleton-item"></div>
      <div class="sun-time-skeleton">
        <div class="time-skeleton skeleton-item"></div>
        <div class="label-skeleton skeleton-item"></div>
      </div>
    </div>
  </div>

  <!-- Content when loaded -->
  <div class="sun-info-container" *ngIf="!loading">
    <div class="sun-cycle">
      <div class="sun-icon sunrise">
        <i class="fas fa-sun"></i>
        <div class="arrow-up"></div>
      </div>
      <div class="sun-time">
        <span class="time">{{ sunriseTime }}</span>
        <span class="label">Amanecer</span>
      </div>
    </div>

    <div class="day-duration">
      <span class="duration-value">{{ dayDuration }}</span>
      <span class="duration-label">Duración del día</span>
    </div>

    <div class="sun-cycle">
      <div class="sun-icon sunset">
        <i class="fas fa-sun"></i>
        <div class="arrow-down"></div>
      </div>
      <div class="sun-time">
        <span class="time">{{ sunsetTime }}</span>
        <span class="label">Atardecer</span>
      </div>
    </div>
  </div>

  <!-- <div class="sun-progress">
    <div class="progress-bar">
      <div class="progress-indicator" [style.left]="sunProgressPercentage + '%'"></div>
    </div>
  </div> -->
</div>
