<div class="welcome-dialog" [@dialogFade] (@dialogFade.done)="onAnimationDone($event)">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <p>{{ dialogPrompt }}</p>
    <form #userForm="ngForm">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="userName" name="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" [(ngModel)]="userEmail" name="email" required email>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" 
            [disabled]="!userForm.valid"
            (click)="save()">
      {{ buttonText }}
    </button>
  </mat-dialog-actions>
</div>
