<div class="forecast-container">
  <mat-card class="forecast-card">
    <div class="card-content">
      <div class="forecast-header">
        <h2 class="title">Pronóstico 5 Días</h2>
      </div>
      
      <div class="forecast-list" *ngIf="!isLoading; else loadingTemplate">
        <div class="forecast-item" *ngFor="let forecast of weeklyForecast">
          <div class="day">{{ forecast.date | date:'EEE' | uppercase }}</div>
          <div class="icon-container">
            <!-- Usar iconos de OpenWeatherMap -->
            <img 
              [src]="'https://openweathermap.org/img/wn/' + forecast.icon + '@2x.png'" 
              [alt]="forecast.condition" 
              class="weather-icon"
            />
          </div>
          <div class="temp-range">
            <span class="max-temp">{{ forecast.maxTemp }}°</span>
            <span class="min-temp">{{ forecast.minTemp }}°</span>
          </div>
          <div class="temp">{{ forecast.temperature }}°C</div>
          <div class="condition">{{ forecast.condition }}</div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<ng-template #loadingTemplate>
  <div class="loading-container">
    <p>Cargando pronóstico...</p>
  </div>
</ng-template>
