<div class="forecast-container">
  <mat-card class="forecast-card">
    <div class="card-content">
      <div class="forecast-header">
        <h2 class="title">Pronóstico de 5 días</h2>
      </div>
      
      <div class="forecast-list" *ngIf="!isLoading; else loadingTemplate">
        <div class="forecast-item" *ngFor="let forecast of weeklyForecast">
          <div class="day">{{ forecast.date | date:'EEEE' | titlecase }}</div>
          <div class="icon-container">
            <img 
              [src]="'https://openweathermap.org/img/wn/' + forecast.icon + '@2x.png'" 
              [alt]="forecast.condition" 
              class="weather-icon"
            />
          </div>
          <div class="temp-range">
            <span class="max-temp">{{ forecast.maxTemp }}°</span>
            <span class="min-temp">{{ forecast.minTemp }}°</span>
          </div>
          <div class="temp">{{ forecast.temperature }}°C</div>
          <div class="condition">{{ forecast.condition }}</div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<ng-template #loadingTemplate>
  <div class="loading-container">
    <div class="skeleton-list">
      <div class="skeleton-item" *ngFor="let item of [1, 2, 3, 4, 5]">
        <div class="skeleton-day"></div>
        <div class="skeleton-icon"></div>
        <div class="skeleton-temp-range"></div>
        <div class="skeleton-temp"></div>
        <div class="skeleton-condition"></div>
      </div>
    </div>
  </div>
</ng-template>
